body{
    margin: 0;
    font-family:sans-serif;
}

.header{
    display: flex;
    justify-content: space-between;
    margin-top: 0.5%;
}

.header_left{
    display: flex;
    align-items: left;
    /* justify-content: space-evenly; */
}

.head_logo{
    width:250px;
    align-items: right;
}

.header_right{
    width: 40vw;
    display : flex;
    /* background-color: aqua; */
    margin-right: 2%;
    align-items: right;
    justify-content: right;
}


.main_link{
    margin-top: 15px;
    color: rgb(106, 103, 103);
    font-size: 25px;
    text-align: center;

    padding-right: 35px;
    text-decoration: none;
    align-content: center;
}
.main_link:hover{
    color: rgb(37, 36, 36);
    font-size: 30px;
    margin-right: 2rem;
    margin-left: 0;
}

a{
    text-align: center;
    width: 100px;
    text-decoration: none;
    color: black;
}

.active_navbar{
    font-weight: bolder;
}

.pembatas{
    margin-top: 0.5%;
    background-color: gray;
    height: 3px;
}

.mid{
    position: relative;
    text-align: center;
}
.mid img {
    margin-top: 3%;
    width: 100vw;
}

#learnmore{
    position: absolute;
    bottom: 2vw;
    font-size: 3vw;
    right: 50px;
    background-color: rgba(18, 18, 18,70%);
    color: lightgray;
    text-decoration: none;
    border-radius: 15px;
    width: 20vw;
}
#learnmore:hover{
    background-color: lightgray; 
    color: rgba(18, 18, 18,70%);
}

.footer{
    bottom: 0%;
    width: 100%;
    margin-top: 5%;
    /* padding: 2%; */
    display: flex;
    /* flex-direction: row; */
    justify-content: space-evenly;
    background-color: black;
}

.footer_left{
    display: flex;
    /* justify-content: space-evenly; */
    color: white;
}

.footer_right{
    display: flex;
    justify-content: space-between;
    /* background-color: orange; */
    width: 20vw;
    align-items: center;
}

.footer_left p{
    font-size: 200%;
}

.stayconnected{
    display: flex;
    align-items: center;
}

#footer_img{
    /* display: flex;s */
    /* flex-direction: row; */
    padding: 2vw;
    width: 60px;
}

#footer_img:hover{
    width: 4vw;
    padding: 1vw;
}

@media screen and (max-width: 800px){
    .header{
        display:block;
        justify-content: space-between;
        margin-top: 0.5%;
        /* background-color: blue; */
    }


    .desc img {
        width: 70%;
    }
    
    .header_left{
        /* display: flex; */
        align-items: left;
        padding-top: 5px;
        padding-bottom: 5px;
        /* justify-content: space-evenly; */
        background-color: rgb(106, 103, 103);
    }
    
    .head_logo{
        width:250px;
        background-color: gray;
        align-items: center;
        position: relative;
        left: 10px;
    

    }
    
    .header_right{
        width: 40vw;
        display : flex;
        /* background-color: aqua; */
        margin-right: 2%;
        margin-top: 10px;
        margin-bottom: 10px;
        align-items: left;
        justify-content: left;
    }

}